[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/sauvignon"]
	path = themes/sauvignon
	url = https://github.com/grugrut/hugo-sauvignon-theme.git
